<h1 class="display-3">Fill The Form</h1>

<form method="post" action="/form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="examplemail@abc.com"
      aria-describedby="emailHelp" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">DOB</label>
    <input type="date" name="dob" class="form-control" id="exampleInputPassword1" required>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>


<div class="div" style="margin-top:100px;">
  {{#if message}}
    <li class="list-group-item list-group-item-danger">{{message}}</li>
    {{/if}}
</div>

</form>