<div class="div" style="margin-top: 100px;">
  <ul class="list-group">
    <li class="list-group-item active">User Details</li>
    <li class="list-group-item">{{message._id}}</li>
    <li class="list-group-item">{{message.email}}</li>
    <li class="list-group-item">{{message.dob}}</li>
  </ul>

</div>